body {
    margin: 0;
    background-image: url(./pic/Halloween.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 20px;
}

ul {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.nav ul {
    display: flex;
    /*设置透明度*/
    background-color: rgba(0, 0, 0, 0.7);
    width: 2000px;
}

.nav li {
    margin: 0 10px;
    width: 100px;
    height: 60px;
    line-height: 60px;
}

#title {
    width: 100px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    /*图片路径*/
}

.nav a {
    color: #ffffff;
    font-size: 18px;
}

.nav a:hover {
    color: #46b2ff;
}

.container {
    display: flex;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
}

.left {
    width: 500px;
    /*中间空隙*/
    margin-right: 100px;
    background-color: rgba(200, 200, 200, 0.7);
    box-shadow: #000 0px 0px 10px;
}

.block {
    margin: 20px;
    padding: 20px;
    background-color: #cccccccc;
    border-radius: 5px;
    box-shadow: #000 0px 0px 10px;
    text-align: center;
}

.blockbtn {
    background-color: dodgerblue;
    color: white;
    width: 100px;
    height: 50px;
    border: 0;
    font-size: 16px;
    /*圆角半径*/
    border-radius: 25px;
}

.right {
    /*颜色最后两位能设置透明度*/
    background-color: #585858cc;
    box-shadow: #ffffff 0px 0px 10px;
    margin-bottom: 40px;
    padding: 20px;
}

.right header {
    font-weight: bold;
    text-align: center;
    background-color: #4CAF50;
    color: #fff;
}

.fanQieZhong button{
    background-color: orange;
    border-radius: 5px;
}

.todoist button{
    background-color: orange;
    border-radius: 5px;
}

.todoist input {
    background-color: #fefefec5;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
